**Practice with Variables**

1. Create a variable named car and assing the value of the make and model of your favorite car. Separate the make and model name using an _.

In [ ]:
car = "Mitsubishi_Outlander"

2. Assign the model of the car to the variable x and the make to the variable y using multiple variable assignment instead of two lines of code.

In [ ]:
x, y = "Mitsubishi", "Outlander"

3. Print the sentence "Dr. Jones favorite car is a land rover Range Rover SE.". Of course, you will replace my name with yours and the make and model with the car of your choice.

In [ ]:
name = "Roshni"
car_make = "Mitsubishi"
car_model = "Outlander"

sentence = f"{name}'s favorite car is a {car_make} {car_model}."
print(sentence)

Roshni's favorite car is a Mitsubishi Outlander.

**Practice with number conversions**

1. Create three variables; an integer, float, and complex.

In [ ]:
# Integer variable
integer_var = 77

# Float variable
float_var = 1.17

# Complex variable
complex_var = 7 + 9j

2.
Do the following conversions:
int -> float
int -> complex -> float
float -> int

Convert int to float

In [ ]:


integer_var = 77
float_var = float (integer_var)

convert integer to complex and then to float

In [ ]:
integer_var = 77
complex_var = complex(integer_var)
float_var = float(complex_var.real)

Convert float to integer

In [ ]:
float_var = 1.17
integer_var = int(float_var)

**Practice Casting**

1. Create a float variable. Convert the variable to an integer.

In [ ]:
float_var = 1.17
integer_var = int(float_var)

2. Create a string whose content is a number. Convert to a float.

In [ ]:
number_string = "1.17"
float_number = Float(number_string)

**Practice Operators**

1. Create two variables that are numerical and play around with the operators.

In [ ]:
x = 7
y = 2

#Addition:
add_result = x + y
print("Addition:", add_result)

#Subtraction:
sub_result = x - y
print("Subtraction:", sub_result)

#Division
div_result = x / y
print("Division:", div_result)

#Multiplication
mul_result = x * y
print("Multiplication:", mul_result)

#Modulus
mod_result = x % y
print("Modulus:", mod_result)

#Exponentiation
exp_result = x ** y
print("Exponentiation:", exp_result)

#Floor_Division
int_div_result = x // y
print("Floor_Division:", int_div_result)

In [ ]:

x = 7
y = 2

# Addition
x += y  # Equivalent to x = x + y

# Reset x to its original value
x = 7
print("After Addition:", x)

# Subtraction
x -= y  # Equivalent to x = x - y

# Reset x to its original value
x = 7
print("After Subtraction:", x)

# Multiplication
x *= y  # Equivalent to x = x * y

# Reset x to its original value
x = 7
print("After Multiplication:", x)

# Division
x /= y  # Equivalent to x = x / y

# Reset x to its original value
x = 7
print("After Division:", x)

# Integer Division
x //= y  # Equivalent to x = x // y

# Reset x to its original value
x = 7
print("After Integer Division:", x)

# Modulus
x %= y  # Equivalent to x = x % y

# Reset x to its original value
x = 7
print("After Modulus:", x)

# Exponentiation
x **= y  # Equivalent to x = x ** y
print("After Exponentiation:", x)

In [ ]:

x = 7
y = 2

# Comparison: Equal to
equal_result = x == y
print("Equal to:", equal_result)

# Comparison: Not equal to
not_equal_result = x != y
print("Not equal to:", not_equal_result)

# Comparison: Greater than
greater_than_result = x > y
print("Greater than:", greater_than_result)

# Comparison: Less than
less_than_result = x < y
print("Less than:", less_than_result)

# Comparison: Greater than or equal to
greater_equal_result = x >= y
print("Greater than or equal to:", greater_equal_result)

# Comparison: Less than or equal to
less_equal_result = x <= y
print("Less than or equal to:", less_equal_result)

In [ ]:

x = 7
y = 2

# Logical AND
and_result = x > 0 and y < 5
print("Logical AND:", and_result)

# Logical OR
or_result = x > 0 or y > 10
print("Logical OR:", or_result)

# Logical NOT
not_result_x = not (x > 0)
print("Logical NOT for x:", not_result_x)

not_result_y = not (y > 0)
print("Logical NOT for y:", not_result_y)

In [ ]:

x = 7
y = 2

# Identity: is
is_result = x is y
print("Identity (is):", is_result)

# Identity: is not
is_not_result = x is not y
print("Identity (is not):", is_not_result)

In [ ]:
# Creating a list and a set
my_list = [1, 2, 3, 4, 5]
my_set = {3, 4, 5, 6, 7}

# Membership: in
in_list_result = 3 in my_list
print("Membership (in) in list:", in_list_result)

in_set_result = 3 in my_set
print("Membership (in) in set:", in_set_result)

# Membership: not in
not_in_list_result = 6 not in my_list
print("Membership (not in) in list:", not_in_list_result)

not_in_set_result = 6 not in my_set
print("Membership (not in) in set:", not_in_set_result)

2. Create two variables that are strings and play around with the operators.

In [ ]:

str1 = "Mauritius"
str2 = "Shopping"

# Concatenation
concatenation_result = str1 + " " + str2
print("Concatenation:", concatenation_result)

# Repetition
repetition_result = str1 * 3
print("Repetition:", repetition_result)

# Membership: in
membership_result = "u" in str1
print("Membership (in):", membership_result)

# Membership: not in
not_membership_result = "z" not in str2
print("Membership (not in):", not_membership_result)

**Practice with Lists**

1. Create the lists below and assign them to a variable.

List with strings only.

In [ ]:
# Creating a list of strings
string_list = ["Mauritius", "Beach", "Island", "Shopping", "Food", "Sun", "Sand", "Sea"]

# Printing the list
print(string_list)

Print the length of each list using the len() function.

In [ ]:
string_list = ["Mauritius", "Beach", "Island", "Shopping", "Food", "Sun", "Sand", "Sea"]
string_list_length = len(string_list)
print("Length of string_list:", string_list_length)

Get the index of a specific item in the list.

In [ ]:
string_list = ["Mauritius", "Beach", "Island", "Shopping", "Food", "Sun", "Sand", "Sea"]
item_to_find = "Shopping"
index_of_item = string_list.index(item_to_find)
print(f"The index of '{item_to_find}' in string_list is:", index_of_item)

Print the item at index 2.

In [ ]:
string_list = ["Mauritius", "Beach", "Island", "Shopping", "Food", "Sun", "Sand", "Sea"]
item_at_index = string_list[2]
print("Item at index 2 in string_list:", item_at_index)

List with numerical values only.

In [ ]:
# Creating a list of numerical values
number_list = [1, 7, 99, 69, 17, 284]

# Printing the list
print(number_list)

Print the length of each list using the len() function.

In [ ]:
number_list = [1, 7, 99, 69, 17, 284]
number_list_length = len(number_list)
print("Length of number_list:", number_list_length)

Get the index of a specific item in the list.

In [ ]:
number_list = [1, 7, 99, 69, 17, 284]
item_to_find = 17
index_of_item = number_list.index(item_to_find)
print(f"The index of {item_to_find} in number_list is:", index_of_item)

Print the item at index 2.

In [ ]:
number_list = [1, 7, 99, 69, 17, 284]
item_at_index = number_list[2]
print("Item at index 2 in number_list:", item_at_index)

2. Create a grocery list.

In [ ]:
# Creating a grocery list
grocery_list = ["Soap", "Toothbrush", "Strawberry", "Milk", "Shampoo", "Shrimp"]

# Printing the grocery list
print("Grocery List:")
for item in grocery_list:
    print(item)

Scratch an item off of your grocery list and replace it with something else.

In [ ]:

grocery_list = ["Soap", "Toothbrush", "Strawberry", "Milk", "Shampoo", "Shrimp"]

# Removing an item from the list
removed_item = "Soap"
grocery_list.remove(removed_item)

# Adding a new item to the list
new_item = "Noodles"
grocery_list.append(new_item)

# Printing the updated grocery list
print("Updated Grocery List:")
for item in grocery_list:
    print(item)

Challenge: You realized that an item is on your list that should not be there. Remove it.

In [ ]:

grocery_list = ["Toothbrush", "Strawberry", "Milk", "Shampoo", "Shrimp", "Noodles"]

# Removing the unwanted item
unwanted_item = "Shampoo"
grocery_list.remove(unwanted_item)

# Printing the updated grocery list
print("Updated Grocery List:")
for item in grocery_list:
    print(item)

3. Challenge: Create two lists of your choice. Combine the lists.

In [ ]:
# Creating two lists
listA = ["flowers", "garden", "green", "butterfly", "lake"]
listB = ["apple", "coffee", "milk", "shoes", "Miami"]

# Combining the lists
combined_list = listA + listB

# Printing the combined list
print("Combined List:", combined_list)

**Part 2**

**Practice with tuples**

1. Create a tuple with at least 10 items.

In [ ]:
# Creating a tuple with 10 items
my_tuple = ("Miami", "Houston", "Dallas", "NYC", "LA", "Kansas", "Gucci", "Louis", "17", "Phoenix")

# Printing the tuple
print(my_tuple)

2. Write a Python program to convert the tuple to a list.

In [ ]:

my_tuple = ("Miami", "Houston", "Dallas", "NYC", "LA", "Kansas", "Gucci", "Louis", "17", "Phoenix")

# Converting the tuple to a list
my_list = list(my_tuple)

# Printing the converted list
print("Converted List:", my_list)

3. Write a Python program to get the 4th element from the last element of the tuple.

In [ ]:

my_tuple = ("Miami", "Houston", "Dallas", "NYC", "LA", "Kansas", "Gucci", "Louis", "17", "Phoenix")

# Getting the 4th element from the end
fourth_from_end = my_tuple[-4]

# Printing the result
print("4th element from the end:", fourth_from_end)

4. Write a Python program to check whether an element exists within the tuple.

In [ ]:

my_tuple = ("Miami", "Houston", "Dallas", "NYC", "LA", "Kansas", "Gucci", "Louis", "17", "Phoenix")

# Element to check
element_to_check = "Gucci"

# Checking if the element exists in the tuple
if element_to_check in my_tuple:
    print(f"'{element_to_check}' exists in the tuple.")
else:
    print(f"'{element_to_check}' does not exist in the tuple.")

'Gucci' exists in the tuple.

5. Write a Python program to find the length of a tuple

In [ ]:

my_tuple = ("Miami", "Houston", "Dallas", "NYC", "LA", "Kansas", "Gucci", "Louis", "17", "Phoenix")

# Finding the length of the tuple
tuple_length = len(my_tuple)

# Printing the length of the tuple
print("Length of the tuple:", tuple_length)

6. Challenge: Write a Python program to reverse a tuple.

In [ ]:

my_tuple = ("Miami", "Houston", "Dallas", "NYC", "LA", "Kansas", "Gucci", "Louis", "17", "Phoenix")

# Reversing the tuple
reversed_tuple = my_tuple[::-1]

# Printing the reversed tuple
print("Reversed Tuple:", reversed_tuple)

7. Challenge: Write a Python program to convert a given string list to a tuple. Use your name as the original string.

In [ ]:
# string list
string_list = ["R", "o", "s", "h", "n", "i"]

# Converting the list to a tuple
tuple_from_list = tuple(string_list)

# Printing the converted tuple
print("Converted Tuple:", tuple_from_list)

**Practice with Sets**

1. Generate two sets of different lengths.

In [ ]:
# Two sets of different lengths
set1 = {7, 89, 1, 45, 17, 90}
set2 = {20, 69, 17}

# Printing the sets
print("Set 1:", set1)
print("Set 2:", set2)

2. Write a Python program to get the length of each.

In [ ]:

set1 = {7, 89, 1, 45, 17, 90}
set2 = {20, 69, 17}

# Calculating and printing the length of each set
print("Length of Set 1:", len(set1))
print("Length of Set 2:", len(set2))

3. Write a Python program to add 2 items to each set.

In [ ]:

set1 = {7, 89, 1, 45, 17, 90}
set2 = {20, 69, 17}

# Adding items to each set
set1.add(88)
set1.add(55)

set2.add(94)
set2.add(43)

# Printing the updated sets
print("Updated Set 1:", set1)
print("Updated Set 2:", set2)

4. Write a Python program to combine each set.

In [ ]:

set1 = {7, 89, 1, 45, 17, 90}
set2 = {20, 69, 17}

# Combining the sets
combined_set = set1.union(set2)

# Printing the combined set
print("Combined Set:", combined_set)

5. Write a Python program to remove item(s) from one set.

In [ ]:

set1 = {7, 89, 1, 45, 17, 90}

# Removing an item
item_to_remove = 17
set1.remove(item_to_remove)

# Printing the set after removal
print("Set 1 after removing", item_to_remove, ":", set1)

6. Challenge:: Create a string variable with a word that has duplicate letters. For example, "stress" ( has three s's). Convert the string to a set. What python function would you run to determine how many unique letters are in your selected string?

In [ ]:

word = "sausages"

# Converting the string to a set
unique_letters_set = set(word)

# Using the len() function to determine the number of unique letters
num_unique_letters = len(unique_letters_set)

# Printing the number of unique letters
print("Number of unique letters in the word:", num_unique_letters)

7. Challenge: Create a set of varying numerical data types. Write a Python program to find the minimum and maximum of the set.

In [ ]:
# Creating a set with varying numerical data types
num_set = {17, -98, 700, 1.17, -6.69, 9.435}

# Finding the minimum and maximum values
min_value = min(num_set)
max_value = max(num_set)

# Printing the minimum and maximum values
print("Minimum value:", min_value)
print("Maximum value:", max_value)

**Practice with for loops**

1. Write a python for loop to print out each integer between 10 and 25. Hint: Use the range function.

In [ ]:
# Using loop to print integers between 10 and 25
for num in range(10, 26):
    print(num)

2. Write a program to display the first 6 multiples of 12.

In [ ]:
# 6 multiples of 12
for i in range(1, 7):
    multiple = 12 * i
    print(f"Multiple {i}: {multiple}")

3. Write a program that appends the square of each number to a new list. Begin with x = [2, 4, 5.6, 8, 10.2, 12, 21].

In [ ]:

x = [2, 4, 5.6, 8, 10.2, 12, 21]

# empty list
squared_list = []

# Calculating and appending the square of each number to the list
for num in x:
    squared = num ** 2
    squared_list.append(squared)

# Printing the squared list
print("Squared List:", squared_list)

4. Create a list with multiple data types. Write a program that appends the type of elements from the list.

In [ ]:
# list of multiple data types
mixed_list = ["mom", 8.99, True, {"name": "Rosh", "age": 22}, [90, 8, 0], 17]

# Initializing an empty list for element types
element_types = []

# Appending the type of each element to the list
for element in mixed_list:
    element_type = type(element)
    element_types.append(element_type)

# Printing the list of element types
print("Element Types:", element_types)

5. Write a program that generates mutiples of 13 but stops when the multiple is above 200. Hint: Use a break statement.

In [ ]:
# multiples of 13 until the multiple is above 200
multiple = 13
while True:
    print("Multiple:", multiple)
    if multiple > 200:
        break
    multiple += 13

**Practice with dictionaries**

1. Create a dictionary with at least 6 identifying characteristics about you.

In [ ]:

my_info = {
    "name": "Roshni",
    "age": 22,
    "eye_color": "brown",
    "gender": "female",
    "hobbies": ["shopping", "sleeping"],
    "ethnicity": "unknown"
}

# Printing the dictionary
print("My Information:", my_info)

2. Once that dict is generated, add two more pieces of information.

In [ ]:
# Creating a dictionary with identifying characteristics
my_info = {
    "name": "Roshni",
    "age": 22,
    "eye_color": "brown",
    "gender": "female",
    "hobbies": ["shopping", "sleeping"],
    "ethnicity": "unknown"
}

# Adding two more pieces of information
my_info["Birthplace"] = "Mauritius"
my_info["Addiction"] = "Food"

# Printing the updated dictionary
print("Updated My Information:", my_info)

3. Print a sentence describing yourself using the dictionary keys and concatenating them to strings.

In [ ]:

my_info = {
    "name": "Roshni",
    "age": 22,
    "eye_color": "brown",
    "gender": "female",
    "hobbies": ["shopping", "sleeping"],
    "ethnicity": "unknown",
    "weakness": "generous",
    "birthplace": "Mauritius"
}

# Constructing a sentence
description = f"My name is {my_info['name']}. I am a {my_info['age']} year old {my_info['gender']} with {my_info['eye_color']} eyes. I was born in {my_info['birthplace']}. My hobbies include {', '.join(my_info['hobbies'])}. I consider myself {my_info['weakness']} and my ethnicity is {my_info['ethnicity']}."

# Printing the description
print(description)

4. Challenge: Print all keys in your dictionary. Remove a key from your dictionary. Print them again.

In [ ]:

my_info = {
    "name": "Roshni",
    "age": 22,
    "eye_color": "brown",
    "gender": "female",
    "hobbies": ["shopping", "sleeping"],
    "ethnicity": "unknown",
    "weakness": "generous",
    "birthplace": "Mauritius"
}

# Printing all keys
print("Original Keys:", list(my_info.keys()))

# Removing a key
if "weakness" in my_info:
    del my_info["weakness"]

# Printing keys after removal
print("Keys after Removal:", list(my_info.keys()))

5. Challenge: Update the value of a key in your dictionary.

In [ ]:

my_info = {
    "name": "Roshni",
    "age": 22,
    "eye_color": "brown",
    "gender": "female",
    "hobbies": ["shopping", "sleeping"],
    "ethnicity": "unknown",
    "birthplace": "Mauritius"
}

# Updating the value of the "age" key
my_info["age"] = 23

# Printing the updated dictionary
print("Updated My Information:", my_info)

**Practice with if Statements**

1. Let x = [12, 3, 31, 6, 14, 7, 10]. Customers are going on a shopping trip. They are able to get a 10% discount if they purchase over 8 items. x is a list of customer item count. Write a python program that returns a list of booleans to let me know which customer will get the discounts.

In [ ]:

x = [12, 3, 31, 6, 14, 7, 10]

# Applying the discount eligibility condition
discount_eligibility = [count > 8 for count in x]

# Printing the list of booleans indicating discount eligibility
print("Discount Eligibility:", discount_eligibility)

2. Write a python program to print the result of the 3rd customer in the list. Will they get a discount?

In [ ]:

x = [12, 3, 31, 6, 14, 7, 10]

# Checking if the 3rd customer is eligible for a discount
customer_index = 2
customer_count = x[customer_index]
discount_eligibility = customer_count > 8

# Printing the result
print(f"Customer {customer_index + 1} has {customer_count} items.")
if discount_eligibility:
    print("This customer is eligible for a discount.")
else:
    print("This customer is not eligible for a discount.")