#Problem 1: Use R as a calculator to compute the following values.

a.27(38-17) assign to variable a

In [ ]:
#assigning to 'a' and computing
a <- 27 * (38 - 17)

#print value
a

[1] 567

b. ln(147) assign to variable b

In [ ]:
# Calculate and assigning to 'b'
b <- log(147)

# Printing the value
b

[1] 4.990433

c. The square root of 436/12 assign to variable c

In [ ]:
# Calculating and assigning to 'c'
c <- sqrt(436/12)

# Printing 'c'
c

[1] 6.027714

#Problem 2: Create the following vectors in R.

a = (5, 10, 15, 20, ..., 160)

In [ ]:
# Creating vector 'a' with values from 5 to 160 in increments of 5
a <- seq(5, 160, by = 5)

# Printing 'a'
a

 [1]   5  10  15  20  25  30  35  40  45  50  55  60  65  70  75  80  85  90  95
[20] 100 105 110 115 120 125 130 135 140 145 150 155 160

b = (87, 86, 85, ..., 56)

In [ ]:
# Creating vector 'b' with values from 87 to 56 in decrements of 1
b <- seq(87, 56, by = -1)

# Printing 'b'
b

 [1] 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63
[26] 62 61 60 59 58 57 56

Use vector arithmetic to multiply these vectors and call the result d.  Select subsets of d to identify the following.

In [ ]:
# Creating vectors 'a' and 'b'
a <- seq(5, 160, by = 5)
b <- seq(87, 56, by = -1)

# Multiplying vectors 'a' and 'b' to get 'd'
d <- a * b

# Printing 'd'
d

 [1]  435  860 1275 1680 2075 2460 2835 3200 3555 3900 4235 4560 4875 5180 5475
[16] 5760 6035 6300 6555 6800 7035 7260 7475 7680 7875 8060 8235 8400 8555 8700
[31] 8835 8960

a. What are the 19th, 20th, and 21st elements of d?

In [ ]:
# Finding the 19th, 20th, and 21st elements of vector 'd'
elements_19_to_21 <- d[19:21]

# Printing the result
elements_19_to_21

[1] 6555 6800 7035

b. What are all of the elements of d which are less than 2000?

In [ ]:
# Finding elements less than 2000
elements_less_than_2000 <- d[d < 2000]

# Printing the result
elements_less_than_2000

[1]  435  860 1275 1680

c. How many elements of d are greater than 6000?

In [ ]:
# Count elements that are greater than 6000 in vector 'd'
count_greater_than_6000 <- length(d[d > 6000])

# Printing the result
count_greater_than_6000

[1] 16

#Problem 3: Using d from problem 2, use R to compute the following statistics of d:

a. Sum

In [ ]:
# Compute the sum of vector 'd'
sum_of_d <- sum(d)

# Printing the result
sum_of_d

[1] 175120

b. median

In [ ]:
# Compute the median of vector 'd'
median_of_d <- median(d)

# Printing the result
median_of_d

[1] 5897.5

c. Standard deviation

In [ ]:
# Compute the standard deviation of vector 'd'
std_deviation_of_d <- sd(d)

# Printing the result
std_deviation_of_d

[1] 2608.563

#Problem 4

Problem 4: Use R to create the following two matrices and do the indicated matrix multiplication.  What is the resulting matrix?

In [ ]:
# first matrix (2x3)
matrix1 <- matrix(c(7, 9, 12, 2, 4, 13), nrow = 2, byrow = TRUE)

# second matrix (3x4)
matrix2 <- matrix(c(1, 7, 12, 19, 2, 8, 13, 20, 3, 9, 14, 21), nrow = 3, byrow = TRUE)

# matrix multiplication
result_matrix <- matrix1 %*% matrix2

# Printing the resulting matrix
result_matrix

     [,1] [,2] [,3] [,4]
[1,] 61   229  369  565
[2,] 49   163  258  391